In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\shaha74\spyder\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (1.26.20)
Requirement already satisfied: bleach in c:\users\shaha74\spyder\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\shaha74\spyder\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\shaha74\spyder\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\shaha74\spyder\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaha74\spyder\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaha74\spyder\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\shaha74\spyder\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [3]:
#download dataset using kaggle api
import kaggle

!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
Downloading london-bike-sharing-dataset.zip to C:\Users\shaha74

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|##########| 165k/165k [00:00<00:00, 578kB/s]
100%|##########| 165k/165k [00:00<00:00, 576kB/s]

In [7]:
#extract the file from downloaded zipfile
import zipfile
zipref=zipfile.ZipFile('london-bike-sharing-dataset.zip')
zipref.extractall()
zipref.close()

In [9]:
import pandas as pd
bikes=pd.read_csv('london_merged.csv')
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [10]:
#exploring the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [11]:
#descriptive statistics of dataframe
bikes.describe()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,72.324954,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,14.313186,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,20.500000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,63.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,74.500000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,83.000000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,100.000000,56.500000,26.000000,1.000000,1.000000,3.000000

In [12]:
#checking for null values
bikes.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [13]:
#verifying the shape of dataframe
bikes.shape

(17414, 10)

In [14]:
new_cols= {'timestamp':'timestamp',
           'cnt':'count',
           't1':'real_temp',
           't2':'temp_feels',
           'hum':'humidity',
           'wind_speed':'wind_speed',
           'weather_code':'weather_type',
           'is_holiday':'holiday',
           'is_weekend':'weekend',
           'season':'season'}

bikes=bikes.rename(columns=new_cols)

In [15]:
#changing the humidity values to percentage (between 0 to 1)
bikes.humidity= bikes.humidity/100

In [16]:
#count the unique values in weather column
bikes.weather_type.value_counts()

weather_type
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [17]:
#count the unique values in weekend column
bikes.weekend.value_counts()

weekend
0.0    12444
1.0     4970
Name: count, dtype: int64

In [18]:
#count the unique values in season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [19]:
#count the unique values in holiday column
bikes.holiday.value_counts()

holiday
0.0    17030
1.0      384
Name: count, dtype: int64

In [20]:
#creating a weather dictionary so we can map the integers to actual written values
weather_dict = {'1.0':'Clear',
              '2.0':'Scattered clouds',
              '3.0':'Broken clouds',
              '4.0':'Cloudy',
              '7.0':'Rain',
              '10.0':'Rain with Thunderstorm',
              '26.0':'Snowfall'}

#creating a season dictionary so we can map the integers 0-3 to actual written values
season_dict = {'0.0':'Spring',
              '1.0':'Summer',
              '2.0':'Autumn',
              '3.0':'Winter'}

#creating a weekend dictionary so we can map the integers to actual written values
weekend_dict = {'0.0':'Yes',
              '1.0':'No'}

#creating a holiday dictionary so we can map the integers to actual written values
holiday_dict = {'0.0':'Yes',
              '1.0':'No'}

In [21]:
#changing the weather column to string datatype
bikes.weather_type=bikes.weather_type.astype('str')

#changing the season column to string datatype
bikes.season=bikes.season.astype('str')

#changing the weekend column to string datatype
bikes.weekend=bikes.weekend.astype('str')

#changing the holiday column to string datatype
bikes.holiday=bikes.holiday.astype('str')

In [22]:
#mapping the vaues to actual written weathers
bikes.weather_type=bikes.weather_type.map(weather_dict)

#mapping the vaues to actual written season
bikes.season=bikes.season.map(season_dict)

#mapping the vaues to actual weekend values
bikes.weekend=bikes.weekend.map(weekend_dict)

#mapping the vaues to actual holiday values
bikes.holiday=bikes.holiday.map(holiday_dict)

In [23]:
#checking the df to see if mappings worked correctly
bikes

,timestamp,count,real_temp,temp_feels,humidity,wind_speed,weather_type,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,Yes,No,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,Yes,No,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,Yes,No,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,Yes,No,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,Yes,No,Winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,Yes,Yes,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,Yes,Yes,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,Yes,Yes,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,Yes,Yes,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,Yes,Yes,Winter

In [24]:
#writing the final dataframe to an excel file that will be used for tableau viualisations
bikes.to_excel('london_bikes_final.xlsx',sheet_name='Data')